
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */


.display-flex{
    display: flex;
}

.dark-1{
    color: rgba(19, 19, 19, 1);
}

.dark-2{
    color:rgba(66, 66, 66, 1) ;
}

.dark-3{
    color:rgba(114, 114, 114, 1) ;
}
.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    padding: 20px 25px 21px 24px;
}

.orange{
    color: rgba(255, 144, 14, 1);
}

.nav-bar,
.banner,
.quick-list,
.love-features,
.some-facts,
.sponsors,
 footer
{
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles */

/* navbar styles */

.nav-bar{
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.nav-menu{
    gap: 30px;
}

.menu-item{
    list-style:none;
}

.item-link{
    text-decoration: none;
    font-weight: 500;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}

/* banner styles */
.banner-content{
    text-align: center;
    align-items: center;
    max-width: 865px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-subtitle{
    margin-bottom: 32px;
}

.banner-image{
    width: 100%;
    margin-bottom: 45px;
}

/* quick list style */
.quick-list{
    align-items: center;
    padding: 0 60px;
    margin-top: 85px;
    margin-bottom: 130px;
}
.teams{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 77px;
    gap: 24px;
}
.quick-list-description{
    max-width: 537px;
}
.quick-title{
    font-size: 2.81rem;
}
#bold{
    font-weight: bold;
}
#medium{
    font-weight: 500;
}

/* features you will love related styles */

.love-features{
    justify-content: center;
    gap: 54px;
    margin-bottom: 130px;
}

.love-features-container{
    max-width: 586px;
}
.love-features-description{
    margin-bottom: 30px;
}

.love-features-title{
    font-size: 2.8rem;
    font-weight: bold;
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 21px;
    margin-bottom: 24px;
}

.love-card{
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    padding-right: 42px;
}

.card-title{
    margin-top: 0px;
    margin-bottom: 10px;
}
.card-subtitle{
    margin:0px ;
}

.love-features-image{
    flex-direction: column;
    max-width: 708px;
    max-height: 982px;
}
.pretty-lady{
    width: 100%;
}
.btn-badge{
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    padding: 46px 42px 45px;
    max-width: 342px;
    margin-left: -92px;
    margin-top: -125px;
}
.chikna{
    font-size: 1.56rem;
    font-weight: 400;
}
.mota{
    font-size: 4.06rem;
    font-weight: bold;
}

/* Some Facts section */
.some-facts{
    margin-bottom: 160px;
}
.facts-description{
    max-width: 542px;
    margin-bottom: 100px;
}
.fact-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 8px;
}
.fact-cards{
    gap: 125px;
    max-width: 1340px;
    margin: 0 auto;
}
.card{
    border: 1px solid  rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 242px;
    height: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-head{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card-body{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

/* sponsors section */

.sponsors{
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin-bottom: 130px;
}
.our-sponsors{
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 542px;
}
.sponsors-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin:5px 0px;
}
.sponsors-logo{
    justify-content: center;
    gap: 155px;
}
.logo{
    filter: grayscale(100%);
}

/* Footer style */

.my-foot{
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    border-radius: 5px;
    text-align: center;
}
.dev-sign{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

/* responsive styles */

@media screen and (max-width:576px){
    .nav-bar{
        flex-direction: column;
    }
    .nav-menu{
        padding: 0px;
    }
    .quick-list{
        flex-direction: column;
        margin-top: 35px;
    }
    .teams{
        grid-template-columns: 1fr;
        margin-right: 0px;
        
    }
    .love-features{
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .btn-badge{
        border-radius: 8px;
        border: none;
        background-color: rgba(255, 144, 14, 1);
        color: rgba(255, 255, 255, 1);
        padding: 46px 42px 45px;
        max-width: 342px;
        margin-left: 0px;
        margin-top: 25px;
    }
    .love-features-image{
        align-items: center;
        max-height: auto;
    }
    .fact-cards{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .sponsors-logo{
        flex-direction: column;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    .quick-list{
        flex-direction: column;
        margin-top: 35px;
    }
    .teams{
        margin-right: 0px;   
    }
    .love-features{
        flex-direction: column-reverse;
        align-items: center;
    }
    .love-features-image{
        align-items: center;
    }
    .btn-badge{
        border-radius: 8px;
        border: none;
        background-color: rgba(255, 144, 14, 1);
        color: rgba(255, 255, 255, 1);
        padding: 46px 42px 45px;
        max-width: 342px;
        margin-left: 0px;
        margin-top: 25px;
    }
    .love-features-image{
        max-height: fit-content;
    }
    .fact-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
    .some-facts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sponsors-logo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}